<!DOCTYPE html>
<html>
  <head>
    <title>Yukimovie</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/61fc49be1f.js" crossorigin="anonymous"></script>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    </head>

  <body>
  <header>
  <div class="header-logo">
    <h1>Yukimovie</h1>
  </div>
  <div class="openbtn"><span></span><span></span><span></span></div>
  <nav id="g-nav">
    <div id="g-nav-list">  
      <ul class="gnavi">
        <li class="current" >
          <%= link_to "top" , root_path %>
        </li>  
        <li> 
          <%=link_to "about", movies_about_path %> 
        </li> 
        <li>
          <%= link_to "投稿一覧", movies_path %>
        </li>
        <li>
          <%=link_to "診断", tweets_path %>
        </li>
        <li>
          <%=link_to "新規投稿", new_movie_path %>
        </li>
        <li>
          <%= link_to "洋画ランキングへ", movies_youga_path %>
        </li>
        <li>
          <%= link_to "邦画ランキングへ", movies_houga_path %>
        </li>
        <li> 
          <% if user_signed_in? %>
            <%= link_to "my page", user_path(current_user.id) %>
              <%= button_to 'ログアウト', destroy_user_session_path, method: :delete %>
          <% else %>
            <%= link_to "log in", user_session_path %>
            <%= link_to "sign up", new_user_registration_path %>"
          <% end %>
        </li> 
      </ul>  
    </div>
  </nav>
  </header>
  <main>
    <%= yield %>
  </main>
  
  <footer>
    <p>Copyright © GeekSalon All Rights Reserved.</p>
  </footer>
</body>
</html>

<script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script>
  $(".openbtn").click(function () {
    $(this).toggleClass("active");
    $("#g-nav").toggleClass("panelactive");
  });
  $("#g-nav a").click(function () {
    $(".openbtn").removeClass("active");
    $("#g-nav").removeClass("panelactive");
  });
</script>